body {
  font-family: Helvetica,Arial,sans-serif;
  color: #000;
}
label {
  display: block;
  font-size: 2em;
  margin-bottom: 1.5em;
}
.input {
  font-size:1.2em;
  display: block;
  margin-top:.25em;
  border: none;
  padding: .2em;
  width: 100%;
  border-left: 6px solid;
}
.input:focus {
  border-color: #08f;
  outline: none;
}
.container {
  max-width: 40em;
  margin:auto;
}
h1 {
  color:#1ed760;
  font-size: 5em;
}
.user {
  float:right;
  padding: 0 1em;
  color:#fff;
  background-color:#1ed760;
  -webkit-font-smoothing:antialiased;
  text-align: center;
  border-radius: 5px;
}
.user img {
  height: 4em;
  display: block;
  border-radius: 100%;
  margin:auto;
  margin-bottom: 0.5em;
}
.user a {
  padding:1em;
  color:#fff;
  text-decoration: none;
}
.user small a {
  padding:0;
}
