body {
  font-family: Helvetica,Arial,sans-serif;
  color: #000;
}
label {
  display: block;
  font-size: 2em;
  margin-bottom: 1.5em;
}
.input {
  font-size:1.2em;
  display: block;
  margin-top:.25em;
  border: none;
  padding: .2em;
  width: 100%;
  border-left: 6px solid;
}
.input:focus {
  border-color: #08f;
  outline: none;
}
.container {
  max-width: 40em;
  margin:auto;
}
h1 {
  color:#1ed760;
  font-size: 5em;
}


.auth img {
  max-width: 250px;
  float: right;
  vertical-align: bottom;
}
.auth:hover img{
  opacity: 0.8
}


.user {
    float: right;
    background: #1ED760;
    border-radius: 100px;
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 50px;
    padding-right: 25px;
    padding-left: 56px;
    text-decoration: none;
    font-size: 14px;
    /*letter-spacing: 0.1em;*/
}


.user img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 3px;
    position: absolute;
    margin-left: -45px;
}

.user:hover {
  opacity: 0.8
}
